.team {
    background-color: #0C5D91;
    padding: 10px;
    color: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    border-radius: 5px;
    margin-bottom: 10px;
}

.team .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.team .description {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.team #col1{
    padding-top: 30px!important;
}

@media screen and (max-width:767px){
    .team{
        padding: 30px;
    }
    .team .col1{
        text-align: center!important;
    }
    .team .title,.team .description{
        text-align: center;
    }
}